# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly libraries for Data Science
- List data science tools
- Arithmetic expression in python

Some of the popular languages that Data Scientists use are:
1. Phyton
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Suryansyah Suciono